NODE_ENV=development
NODE_TLS_REJECT_UNAUTHORIZED=0

MICROSERVICE_SSO_NAME=sso
MICROSERVICE_SSO_URL=
MICROSERVICE_SSO_PORT=8000

MICROSERVICE_MINER_NAME=miner
MICROSERVICE_MINER_URL=
MICROSERVICE_MINER_PORT=8001

MICROSERVICE_LOG_NAME=log
MICROSERVICE_LOG_URL=
MICROSERVICE_LOG_PORT=8002

MICROSERVICE_HISTORY_NAME=history
MICROSERVICE_HISTORY_URL=
MICROSERVICE_HISTORY_PORT=8003

MICROSERVICE_BOT_NAME=bot
MICROSERVICE_BOT_URL=
MICROSERVICE_BOT_PORT=8002

USER_ROOT_LOGIN=
USER_ROOT_PASSWORD=

ROLE_ROOT_ID=b3c5cc10-884d-11ee-932b-300505de684f
ROLE_MANAGER_ID=b9507b39-884d-11ee-932b-300505de684f
ROLE_MEMBER_ID=b3c5ce0e-884d-11ee-932b-300505de684f


REDIS_TLS_CA_CRT=/usr/local/share/ca-certificates/ca.crt
REDIS_TLS_CA_KEY=/usr/local/etc/ssl/private/ca.key
REDIS_TLS_KEY=/usr/local/etc/ssl/private/redis.key
REDIS_TLS_CRT=/usr/local/etc/ssl/redis.crt

SQL_HOST=127.0.0.1
SQL_PORT=3306
SQL_USER=
SQL_USER_PASSWORD=
SQL_DATABASE=

REDIS_TRANSPORT_HOST=127.0.0.1
REDIS_TRANSPORT_PORT=6379
REDIS_TRANSPORT_DB=0
REDIS_TRANSPORT_PASSWORD=

REDIS_CACHE_HOST=127.0.0.1
REDIS_CACHE_PORT=6379
REDIS_CACHE_DB=1
REDIS_CACHE_PASSWORD=

REDIS_QUEUE_HOST=127.0.0.1
REDIS_QUEUE_PORT=6379
REDIS_QUEUE_DB=2
REDIS_QUEUE_PASSWORD=

REDIS_LOG_HOST=127.0.0.1
REDIS_LOG_PORT=6379
REDIS_LOG_DB=3
REDIS_LOG_PASSWORD=

REDIS_SYNC_SQL_HOST=127.0.0.1
REDIS_SYNC_SQL_PORT=6379
REDIS_SYNC_SQL_DB=4
REDIS_SYNC_SQL_PASSWORD=

TELEGRAM_BOT_TOKEN=
